<%# locals: (customer:) -%>
<%= form_for [:admin, customer] do |f| %>
  <%= render "devise/shared/error_messages", resource: customer %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.check_box :approved %>
    <%= f.label :approved %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :born_on %><br />
    <%= f.date_field :born_on %>
  </div>

  <div class="field">
    <%= f.label :confirmed_at %><br />
    <%= f.datetime_field :confirmed_at %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary mt-2" %>
  </div>
<% end %>
