<%# locals: (admin:, admin_counter:, admin_iteration:) -%>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= "#{admin.first_name} #{admin.last_name}" %></h5>
    <h6 class="card-subtitle text-muted"><%= "@#{admin.username}" %></h6>
    <p class="card-text"><%= admin.email %></p>
    <%= link_to t(".show"), admin_admin_path(admin), class: "card-link" %>
    <%= link_to t(".edit"), edit_admin_admin_path(admin), class: "card-link" %>
    <%= link_to t(".destroy"), admin_admin_path(admin), class: "card-link", data: { turbo_method: :delete, turbo_confirm: t(".confirm") } %>
  </div>
</div>
