<%- if controller.controller_name.eql?("admins") %>
  <%- if !controller.action_name.eql?("index") %>
    <%= link_to t(".back"), admin_admins_path %><br />
  <%- else %>
    <div><%= t(".admins") %></div>
    <%= link_to t(".new_admin"), new_admin_admin_path %><br />
  <% end %>
<%- else %>
  <%= link_to t(".admins"), admin_admins_path %><br />
<% end %>

<%- if controller.controller_name.eql?("customers") %>
  <%- if !controller.action_name.eql?("index") %>
    <%= link_to t(".back"), admin_customers_path %><br />
  <%- else %>
    <div><%= t(".customers") %></div>
    <%= link_to t(".new_customer"), new_admin_customer_path %><br />
  <% end %>
<%- else %>
  <%= link_to t(".customers"), admin_customers_path %><br />
<% end %>

<%= link_to t(".dashboard"), admin_root_path %><br />

<%= button_to t(".logout"), destroy_admin_session_path, method: :delete %><br />
